*{
    box-sizing: border-box;
}
body{
    margin: 0%;
    font-family:cursive ;
}
.header{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
    height: 70px;
    background-color: rgb(235, 142, 142);
}
ul{
    display: flex;
    justify-content:space-between;
    list-style: none;
    gap: 20px;
}
.icon{
    width: 50px;
    height: 50px;
    margin-top: 10px;
}
.menu_area{
    display: flex;
    justify-content: space-between;
    margin-right: 10px;
    flex-wrap: wrap;
}
li{
    text-transform: capitalize;
    transition: transform .2s,color .2s;
    padding: 15px;
}
li:hover{
    transform: scale(1.1);
    color: rgb(215, 32, 32);
    cursor: pointer;
}
.icon_area{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-left: 10px;
}
.icon_name{
   font-family: 'Courier New', Courier, monospace;
   align-items: center;
   text-shadow: 2px 2px 5px rgb(224, 129, 129);
   margin-top: 25px;
   font-size: 20px;
}
.main_content{
    background-image: url("C:/project/images project/images1.jpg");
    height: 500px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}
.services_heading{
    text-align: center;
}
.services{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card1,.card2,.card3,.card1_img1,.card2_img2,.card3_img3{
    max-width: 300px;
    text-align: center;
}
.card1,.card2,.card3{
    border:2px solid black;
    border-radius: 4px;
    box-shadow: 2px 2px 12px rgb(154, 154, 234);
}
.about_us{
    padding-top: 40px;
    margin-top:10px ;
    display: flex;
    flex-wrap: wrap;
    gap:10px;
    background-color: rgb(194, 244, 244);
    justify-content: space-evenly;
}
.side_img{
    max-width: 400px;
    padding-bottom: 40px;
}
.side_text{
    max-width: 400px;
    text-align: justify;
    margin-top: 100px;
}

.g1,.g2,.g3,.g7,.g4,.g5,.g6,.g7,.g8{
    max-width: 400px;
    cursor: pointer;
    transition: transform 0.5s;
}
.g8{
    height: 500px;
    width:400px;
}
.g5{
    height:280px ;
}
.g6{
    height: 280px;
}
.g1:hover,.g2:hover,.g3:hover,.g7:hover,.g4:hover,.g5:hover,.g6:hover,.g7:hover,.g8:hover{
    transform: scale(1.1);
}
.gallery_text{
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 2rem;
    margin-top: 80px;
    text-shadow: 2px 2px 5px rgb(57, 81, 51);
}
.footer{
    text-align: center;
    background-color: rgb(167, 90, 90);
    color: aliceblue;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media only screen and (max-width:700px){
.side_img{
    max-width: 100%;
}
.about_us{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.header{
    height: 200px;
}
}